.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo h1{
  color:#e50914;
  font-size: 50px;
  margin-left: 40px;
  padding-top: 10px;
  margin-bottom: 20px;
}
.form-login{
  width: 314px;
  min-height: 570px;
  background-color: rgb(0,0,0,0.7);
  margin: auto;
  padding: 60px 68px 40px;
  border-radius: 4px;
}
.login{
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}
.form{
  margin-top: 28px;
}
.input-form{
  margin-bottom: 16px;
}
.input{
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
}
.input-err::after{
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  bottom: 0;
  content: '';
  display: block;
  height: 6px;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  border-bottom: 2px solid #e87c03;
  z-index: 4;
}
.input input{
  box-sizing: border-box;
  width: 100%;
  background-color: #333;
  height: 100%;
  border:none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  padding: 16px 20px 0;
  font-size: 16px;
 
}
.input label{
  position: absolute;
  color: #8c8c8c;
  z-index: 0;
  top:50%;
  font-size: 16px;
  transform: translateY(-50%);
  left: 5%;
}
.error{
  color: #e87c03;
  font-size: 13px;
  padding: 6px 3px 2px;
  display: none;
}
.input input:focus ~ label{
  font-size: 12px;
  position: relative;
  z-index: 1;
  top:-100%;
  left:6%
}
.value {
  font-size: 12px !important;
  position: relative !important;
  z-index: 1 !important;
  top:-100% !important;
  left:6% !important;
}
.btn{
  width: 100%;
  padding: 16px;
  margin: 24px 0 12px 0;
  border: none;
  border-radius: 4px;
  background-color: #e50914;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.form-help-hybrid{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hybrid{
  color: #c8c2c2;
  font-size: 14px;
  display: flex;
  flex: 1;
}
.hybrid input[type=checkbox]{
  display: none;
  position: relative;
}
 .hybrid input[type="checkbox"] + label:before {
  border: 1px solid #7f83a2;
  content: "\00a0";
  display: inline-block;
  font: 12px sans-serif;
  height: 14px;
  padding: 0;
  vertical-align: top;
  width: 14px;
  background-color: #c8c2c2;
  border-radius: 2px;
  margin: 0px 5px 0 0;
 
}
.hybrid input[type="checkbox"]:checked + label:before {
  background: #666;
  color: #000;
  content: "\2713";
  text-align: center;
}
.hybrid label{
  flex: 1;
}
.form-help-hybrid a{
  text-decoration: none;
  color: #c8c2c2;
  font-size: 14px;
}
.form-help-hybrid a:hover{
  text-decoration: underline;
}
.registration{
  margin-top:90px;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 500;
}
.registration a{
  text-decoration: none;
  color: #fff;
  margin-left: 4px;
}
.registration a:hover{
  text-decoration: underline;
}
.form-footer{
  color: #c8c2c2;
  font-size: 13px;
  display: inline-block;
  line-height: 13px;
}

.form-footer button{
  border: none;
  background-color: transparent;
  color: #0071eb;
  cursor: pointer;
  padding: 0;
}
.form-footer button:hover{
  text-decoration: underline;
}
.form-footer span{
  margin: 0 4px;
}
.none{
 display: none;
}
.block{
  display: block;
}
.footer{
  background-color: rgb(0,0,0,0.65);
  margin-top: 90px;
  padding-top:30px ;
}
.footer button{
  background-color: transparent;
  color: #757575;
  border: none;
  cursor: pointer;
}
.footer button:hover{
  text-decoration: underline;
}
footer{
  width: 70%;
  margin: auto;
}
.top-footer{
  display: block;
  font-size: 16px;
  margin-bottom: 30px;
}
.center-footer{
  display: flex;
  flex-wrap: wrap;
}
.btn-center__footer{
  width: 25%;
  padding-bottom: 12px;
}
.language{
  padding: 10px 0 40px;
}
.language select{
 
    background-color: #000;
    background-image: none;
    border: 1px solid #333;
    padding: 15px 0px 15px 45px ;
    color: #999;
}